<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<div class="row justify-content-center">
    <h1 th:text="${title}">Default Title</h1>

</div>


<div class="container">
    <div class="row justfy-content-center">
        <a href="/ingredient/add" class="btn btn-primary btn-sm" role="button">Add New Ingredient</a>
    </div>


    <div class="row justify-content-center">

        <div class="col-sm-4">
            <p th:unless="${ingredients} and ${ingredients.size()}">Currently no available ingredients</p>


            <ul th:each="ingredient : ${ingredients}">
                <a th:text="${ingredient.name}" th:href="@{'/ingredient/view/' + ${ingredient.id}}"></a>
            </ul>
        </div>

<!--        <div class="col-sm-2">

        </div>-->

<!--        <div class="col-sm-4">
            <a href="/ingredient/add" class="btn btn-primary btn-sm" role="button">Add New Ingredient</a>
        </div>-->

    </div>



</div>





</body>
</html>