<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<h1 th:text="${title}">Default Title</h1>

<p th:unless="${ingredients} and ${ingredients.size()}">Currently no available ingredients</p>


<ul th:each="ingredient : ${ingredients}">
    <a th:text="${ingredient.name}" th:href="@{'/ingredient/view/' + ${ingredient.id}}"></a>
</ul>

<a href="/ingredient/add">Add New Ingredient</a>

</body>
</html>