<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<div class="row justify-content-center">
    <h1 th:text="${title}">Default Title</h1>
</div>

<div class="row justify-content-left">
    <div class="col-sm-4">
        <a href="/day/create" class="btn btn-primary btn-sm" role="button">Create New Day</a>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-sm-4">
        <p th:unless="${days} and ${days.size()}">Currently no days planned</p>
        <ul th:each="day : ${days}">
            <a th:text="${day.name}" th:href="@{'/day/build/' + ${day.id}}"></a>
        </ul>
    </div>
</div>

</body>
</html>