<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<h1 th:text="${title}">Default Title</h1>

<a th:href="@{'/meal/delete/' + ${form.meal.id}}">Delete Meal?</a>

<h2>Nutrition Totals</h2>
<p>Under Construction</p>

<h2>Meal Components</h2>

<!--<p th:unless="${form.meal.components} and ${form.meal.components.size()}">Meal currently has no components</p>-->
<p th:unless="${form.meal.ingredients} and ${form.meal.ingredients.size()}">Meal currently has no ingredients</p>

<ul th:each="ingredient : ${form.meal.ingredients}">
    <li th:text="${ingredient.name}"></li>
</ul>


<form method="post" style="max-width:600px;" th:object="${form}">
    <label th:for="ingredientId">Select Ingredient</label>
    <select class="form-control" th:field="*{ingredientId}">
        <option th:each="ingredient : *{ingredients}" th:value="${ingredient.id}" th:text="${ingredient.name}"></option>
    </select>
    <span th:errors="*{ingredientId}" class="error"></span>
    <input type="hidden" name="mealId" th:value="*{meal.id}" />

    <label th:for="servings">Servings</label>
    <input class="form-control" th:field="*{servings}" />

    <input type="submit" value="Add Component">

</form>

</body>
</html>