<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<h1 th:text="${title}">Default Title</h1>

<a th:href="@{'/meal/delete/' + ${form.meal.id}}">Delete Meal</a>


<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h2>Nutrition Totals</h2>

            <table class="table">

                <tr>
                    <th>Nutritional Value</th>
                    <th>Meal Total</th>
                </tr>

                <tr>
                    <td>Calories</td>
                    <td th:text="${form.meal.calories}"></td>
                </tr>

                <tr>
                    <td>Saturated Fat</td>
                    <td th:text="${form.meal.saturatedFat}"></td>
                </tr>

                <tr>
                    <td>Polyunsaturated Fat</td>
                    <td th:text="${form.meal.polyUnsaturatedFat}"></td>
                </tr>

                <tr>
                    <td>Monounsaturated Fat</td>
                    <td th:text="${form.meal.monoUnsaturatedFat}"></td>
                </tr>

                <tr>
                    <td>Trans Fat</td>
                    <td th:text="${form.meal.transFat}"></td>
                </tr>

                <tr>
                    <td>Total Fat</td>
                    <td th:text="${form.meal.totalFat}"></td>
                </tr>

                <tr>
                    <td>Cholesterol</td>
                    <td th:text="${form.meal.cholesterol}"></td>
                </tr>

                <tr>
                    <td>Sodium</td>
                    <td th:text="${form.meal.sodium}"></td>
                </tr>

                <tr>
                    <td>Potassium</td>
                    <td th:text="${form.meal.potassium}"></td>
                </tr>

                <tr>
                    <td>Total Carbohydrate</td>
                    <td th:text="${form.meal.totalCarbohydrate}"></td>
                </tr>

                <tr>
                    <td>Dietary Fiber</td>
                    <td th:text="${form.meal.dietaryFiber}"></td>
                </tr>

                <tr>
                    <td>Sugar</td>
                    <td th:text="${form.meal.sugar}"></td>
                </tr>

                <tr>
                    <td>Net Carbohydrate</td>
                    <td th:text="${form.meal.netCarbohydrate}"></td>
                </tr>

                <tr>
                    <td>Protein</td>
                    <td th:text="${form.meal.protein}"></td>
                </tr>

            </table>
        </div>

        <div class="col-sm-2">

        </div>

        <div class="col-sm-4">
            <h2>Meal Components</h2>

            <!--<p th:unless="${form.meal.components} and ${form.meal.components.size()}">Meal currently has no components</p>-->
            <!--<p th:unless="${form.meal.ingredients} and ${form.meal.ingredients.size()}">Meal currently has no ingredients</p>-->
            <p th:unless="${form.meal.components} and ${form.meal.components.size()}">Meal currently has no components</p>

<!--            <ul th:each="ingredient : ${form.meal.ingredients}">
                <li th:text="${ingredient.name}"></li>
                &lt;!&ndash;<a th:href="@{'/meal/remove-ingredient/' + ${form.ingredientId}">Remove?</a>&ndash;&gt;
            </ul>-->

            <table class="table" th:if="${form.meal.components} and ${form.meal.components.size()}">

                <tr>
                    <th>Ingredient</th>
                    <th>Servings</th>
                </tr>

                <tr th:each="component : ${form.meal.components}">
                    <td th:text="${component.ingredient.name}"></td>
                    <td th:text="${component.servings}"></td>
                </tr>



            </table>

            <form method="post" style="max-width:600px;" th:object="${form}">
                <label th:for="ingredientId">Select Ingredient</label>
                <select class="form-control" th:field="*{ingredientId}">
                    <option th:each="ingredient : *{ingredients}" th:value="${ingredient.id}" th:text="${ingredient.name}"></option>
                </select>
                <span th:errors="*{ingredientId}" class="error"></span>
                <input type="hidden" name="mealId" th:value="*{meal.id}" />

                <label th:for="servings">Servings</label>
                <input class="form-control" th:field="*{servings}" />

                <input type="submit" value="Add Component">

            </form>
        </div>

    </div>
</div>


</body>
</html>