<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<div class="row justify-content-center">
    <h1 th:text="${title}">Default Title</h1>
</div>


<div class="row justify-content-left">
    <div class="col-sm-4">
        <a href="/meal/create" class="btn btn-primary btn-sm" role="button">Create New Meal</a>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-sm-4">
        <p th:unless="${meals} and ${meals.size()}">Currently no meals created</p>
        <ul th:each="meal : ${meals}">
            <a th:text="${meal.name}" th:href="@{'/meal/build/' + ${meal.id}}"></a>
        </ul>
    </div>
</div>




</body>
</html>